html { 
    color-scheme: light dark;
    background-color: black;
}
* {
    color: white;
}
body { 
    width: 35em; 
    margin: 0 auto;
    margin-top: 10em;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}
.main {
    display: flex;
}

#profilepic {
    object-fit: cover;
    width: 150px;
    margin-right: 10px;
}

.pic {
    width: 150px;
    margin-right: 10px;
}
.text {
    margin-bottom: 10px;
}
.links {
    display: flex;
    flex-direction: column;
}
a:link {
    text-decoration: none;
}
a:hover {
    background-color: red;
}