
*{
    box-sizing: border-box;
    border: solid red 2px;
    margin: 0;
    padding: 0;
}

:root {
    --background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg");
    --widget-width: 200px;
    --widget-height: 100px;
}

body{
    height: 100%;
    overflow: hidden; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
    height: 100vh;
    width: 100vw;
    background-image: var(--background-image);
    display: flex;
    justify-content: center; 
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;

}

.widget {
    background-color: aliceblue;
    opacity: 0.7;
    height: var(--widget-height);
    width: var(--widget-width);
    margin: 10px;
}



/*-- CLOCK --*/
#clockWidget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#clock {
    font-weight: bold;
}

/*-- DROPDOWN --*/



/*-- BUTTONS --*/

#buttonWidget {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: none;

}

.button {
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background-color: aliceblue;
}
