
*{
    box-sizing: border-box;
    border: solid red 2px;
    margin: 0;
    padding: 0;
}

:root {
    --background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c2/Glorious-blue-mountain-range.jpg")
}

body{
    height: 100%;
    overflow: hidden; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#main {
    height: 100vh;
    width: 100vw;
    background-image: var(--background-image);
    display: flex;
    justify-content: center; 
    align-items: stretch;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.widget {
    background-color: aliceblue;
    opacity: 0.7;
    height: 200px;
    width: 400px;
}

a.button {
    background-color: white;
    margin: 0 20px;
    border: 5px solid white;
    border-radius: 5px;
}


/*-- CLOCK --*/
#clockWidget {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#clock {
    font-weight: bold;
}